html {
  --cursor-color: #749ac3;
}

body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 100px;
  background: -webkit-linear-gradient(180deg, #4ac7fa 10%, #e649f5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  a {
    text-decoration: none;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 400px) {
  h1 {
    font-size: 35px;
    margin-bottom: 50px;
  }
}
