.Button {
  margin-top: 20px;
  padding: 5px 20px;
  border: transparent;
  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  background: #282c34;
  color: #7bfafac0;
  box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
    1px 2px 4px 0px rgba(0, 255, 255, 0.7),
    2px 4px 8px 0px rgba(0, 255, 255, 0.7),
    2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}

.Button:hover {
  background: #00ffff;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.Button:focus {
  background: white;
  color: grey;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Button:visited {
  background: white;
  color: grey;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Button:active {
  background: white;
  color: grey;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
