.Button {
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
  padding: 10px 30px;
  border: transparent;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  background: #282c34;
  color: #749ac3;
  box-shadow: 0px 1px 2px 0px rgba(116, 154, 195, 0.7),
    1px 2px 4px 0px rgba(116, 154, 195, 0.7),
    2px 4px 8px 0px rgba(116, 154, 195, 0.7),
    2px 4px 16px 0px rgba(116, 154, 195, 0.7);
  transition: all 0.3s ease-in-out;
}

.Button:hover {
  background: #749ac3;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.Button:focus {
  background: #e0e0e0;
  color: #749ac3;
  box-shadow: -11px -11px 22px #bababa, 11px 11px 22px #ffffff;
}

.Button:visited {
  background: #e0e0e0;
  color: #749ac3;
  box-shadow: -11px -11px 22px #bababa, 11px 11px 22px #ffffff;
}

.Button:active {
  background: #e0e0e0;
  color: #749ac3;
  box-shadow: -11px -11px 22px #bababa, 11px 11px 22px #ffffff;
}
