.Dictionary {
  color: white;
  margin: 0 auto;
}

input {
  font-family: "Open Sans", sans-serif;
}

.Box {
  width: 350px;
  height: 60px;
  border-radius: 10px;
  border-color: transparent;
  background: #282c34;
  box-shadow: inset 20px 20px 60px #181a1f, inset -20px -20px 60px #383e49;
  color: black;
  text-indent: 20px;
  margin: 0 auto;
}

.Box:invalid {
  background: #282c34;
  box-shadow: inset -20px -20px 15px #21252b, inset 20px 20px 15px #2f333d;
  color: rgb(206, 202, 202);
  font-style: italic;
}

.Box:focus {
  background: #e0e0e0;
  box-shadow: inset 7px 7px 14px #bababa, inset -7px -7px 14px #ffffff;
  outline: none;
}

.Box:valid {
  background: #e0e0e0;
  box-shadow: inset 7px 7px 14px #bababa, inset -7px -7px 14px #ffffff;
}

.Box:visited {
  background: #e0e0e0;
  box-shadow: inset 7px 7px 14px #bababa, inset -7px -7px 14px #ffffff;
}

@media (max-width: 400px) {
  .Box {
    width: 250px;
  }
}
