.container {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: left;
  max-width: 800px;
  margin: 100px auto 0px auto;
  padding: 20px;
}

section {
  max-width: 800px;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 30px;
  background: #e0e0e0;
  box-shadow: -11px -11px 22px #bababa, 11px 11px 22px #ffffff;
  text-align: center;
}

.search-word {
  transition: all 0.3s ease-in-out;
}

.search-word:hover {
  background-color: #bccfe4;
}

.results {
  transition: all 0.3s ease-in-out;
}

.results:hover {
  background-color: #bccfe4;
}

section.list {
  margin-bottom: 15px;
}

h2 {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 20px;
}
